<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="regist">注册</a></li>
    <li role="presentation" class="active"><a href="signin">登录</a></li>
</ul>